#reproductor {
    width: 720px;
    /*height: 440px;*/
    margin: 20px auto;
    padding: 10px 5px 5px 5px;
    background: #999999;
    border: 1px solid #666666;
    border-radius: 10px;
}

#reproducir {
    padding: 5px 10px;
    width: 50px;
    border: 1px solid #000000;
    background: #DDDDDD;
    font-weight: bold;
    border-radius: 10px;
}

nav{
    margin: 5px;
}

#txtStatus {
   background-color: ghostwhite;
    border-radius: 20px ;
}
/*
#botones{
    float: left;
    width: 145px;
    height: 30px;
    padding-left: 5px;
}*/
